@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap"); /*라스칼 로고 한글은 적용안됨*/
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@font-face {
  font-family: "Giants-Inline";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SDSamliphopangche_Outline";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PartialSansKR-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VITRO CORE";
  src: url("../../public/fonts/VITRO_Font_OTF/VITRO_CORE_OTF.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "VITRO INSPIRE";
  src: url("../../public/fonts/VITRO_Font_OTF/VITRO_INSPIRE_OTF.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "VITRO PRIDE";
  src: url("../../public/fonts/VITRO_Font_OTF/VITRO_PRIDE_OTF.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CookieRun Black";
  src: url("../../public/fonts/CookieRunFont_OTF/CookieRun\ Black.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CookieRun Regular";
  src: url("../../public/fonts/CookieRunFont_OTF/CookieRun\ Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CookieRun Bold";
  src: url("../../public/fonts/CookieRunFont_OTF/CookieRun\ Bold.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hakgyo";
  src: url("../../public/fonts/HakgyoansimSamulhamOTFR.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
