.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "VITRO CORE";
  src: url("/fonts/VITRO Font OFT/VITRO CORE OFT.oft") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VITRO INSPIRE";
  src: url("/fonts/VITRO Font OFT/VITRO INSPIRE OFT.oft") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VITRO PRIDE";
  src: url("/fonts/VITRO Font OFT/VITRO PRIDE OFT.oft") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "VITRO CORE", sans-serif;
}
